.card
{
    padding: 0.1px;
    padding-left:  0.1px;
    width: 20%;
    height: 50%;
    background-color: white;
    box-shadow: 0.05rem 0.05rem 0.3rem 0.1rem rgba(94, 93, 93, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  .heading {
    text-align: center;
  }
  
  .heading__title {
    font-weight: 600;
  }
  
  .heading__credits {
    margin: 10px 0px;
    color: #888888;
    font-size: 25px;
    transition: all 0.5s;
  }
  
  .heading__link {
    text-decoration: none;
  }
  
  .heading__credits .heading__link {
    color: inherit;
  }
  
  /* CARDS */
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    margin: 20px;
    padding: 20px;
    width: 385px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
  }
  
  .card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
  }
  
  .card__link {
    position: relative;
    text-decoration: none;
    color: #0645AD;
    font-size: 15px;
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(80, 53, 177, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 30px;
  }
  
  .card__title {
    grid-row: 3/4;
    font-weight: 400;
    padding-bottom: 10px;
    color: black;
  }
  
  .card__apply {
    grid-row: 4/5;
    margin-top: 35px;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#1fe4f5, #3fbafe);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
      display: inline-block;
    background: radial-gradient(white);
    color: black;
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }

  .content
  {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-size: 16px;
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  